jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterthemes
ansible
ansible_runner
docker
Flask
Jinja2
jinja2-time
MarkupSafe
neovim
netaddr
paramiko
parso
pathlib2
powerline-status
psutil
pyasn1
pycrypto
pylint
pylint-flask
pylint-plugin-utils
pyOpenSSL
python-dateutil
PyYAML
requests
scandir
SecretStorage
serverlessrepo
setuptools
six
stevedore
trollius
virtualenv
virtualenv-clone
virtualenvwrapper
websocket-client
whichcraft
wrapt
xmltodict
